@{
    ViewBag.Title = "订单支付";
    Layout = "~/Views/Shared/_WechartLayout.cshtml";
}

@section styles{
    <link href="~/Styles/wechart/percenter.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
}
<div class="page-wrap pb102">
    <p style="text-align: center; padding: 20px; font-size: 14px;">支付中，请稍后！</p>
</div>

@section footerjs{
    <script type="text/javascript">
    $(function () {
        layermsg("正在调用微信支付接口，请稍后。");

        var isFail = "@ViewBag.IsFail";

        if (isFail && isFail == "1") {
            layermsg("微信接口异常，请点击确定重新发起支付。", function () {
                window.location.reload();
            });
        } else {

            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: '@ViewBag.AppID', // 必填，公众号的唯一标识
                timestamp: "@ViewBag.TimeStamp", // 必填，生成签名的时间戳
                nonceStr: '@ViewBag.NonceStr', // 必填，生成签名的随机串
                signature: '@ViewBag.ConfigSingn',// 必填，签名，见附录1
                jsApiList: ['chooseWXPay'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });

            wx.ready(function () {
                wx.chooseWXPay({
                    timestamp: '@ViewBag.TimeStamp', // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                    nonceStr: '@ViewBag.NonceStr', // 支付签名随机串，不长于 32 位
                    package: '@ViewBag.Package', // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                    signType: 'MD5', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                    paySign: '@ViewBag.PaySign', // 支付签名
                    success: function (res) {
                        // 支付成功后的回调函数
                        layermsg("支付成功！", function () {
                            window.location.href = "/weixin/weuser/index";
                        });
                    },
                    cancel: function () {
                        layermsg("用户取消支付！", function () {
                            window.location.href = "/weixin/weuser/index";
                        });
                    }
                });
            });

            wx.error(function (res) {
                // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
                layermsg("微信支付配置失败！");
            });
        }
    });
</script>
}
